# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.ipynb_checkpoints/

# docker
bin/
work/
.nextflow/
target/
output/

*.zip
.nextflow*

# model
logs/
runs/
weights/
.swp
*.h5ad
*.png
*.ipynb
*.pt

# specific file
model/*.sh
script_*.py

# dev modules
model/modules/model_peakvi.py
model/modules/model_scvi.py
model/modules/_negative_binomial.py

model/trainer/trainer_rec.py
model/trainer/trainer_scvi.py
model/trainer/trainer_peakvi.py
model/trainer/trainer_pairae.py
model/trainer/trainer_residual.py

# concrete selection
model/concrete_selector.py
model/modules/model_concrete.py
model/trainer/trainer_concrete.py
